body {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 960px) minmax(0, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    " ... lgo ... "
    " cma cma cma "
    " cmb cmb cmb "
    " cmc cmc cmc "
    " cmd cmd cmd "
    " stk stk stk "
    " ... tch ... ";
}

.lgo {

    grid-area: lgo;
    height: 20vh;
}

.logo
{
    width: 60px;
    /*width: 60px;*/
    /*height: 67.2px;*/
}

a {
    text-decoration: none;
}

.a {
  grid-area: cma;
}

.a .scene {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
    "ctr";
}

#iphone {
    grid-area: ctr;
    height: 95vh;
    align-self: center;
    margin-left: 34vw;
}

.b {
  grid-area: cmb;
}

.b .scene {
    display: grid;
    margin-bottom: 20vh;
}

#lipd {
    justify-start: start;
    height: 100vh;
}

.c {
    grid-area: cmc;
    margin-bottom: 20vh;
}

.c .scene {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    " ctr ";
}

#ripd {
    grid-area: ctr;
    justify-self: end;
    height: 100vh;
}

/* Third Scene */
.d {
  grid-area: cmd;
  margin-bottom: 20vh; 
}

.d .scene {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "left right";
}

#leftWall, #rightWall {
    height: 100vh;
}

#leftWall { 
    grid-area: left;
    justify-start: start;
}

#rightWall {
    grid-area: right;
    justify-self: end;
}

.e {
    grid-area: stk;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30vh 30vh 30vh;
    grid-template-areas:
    " . a .  b  . "
    " c . d  . e  "
    " . f .  g .  ";

    justify-items: center;
}

.e svg {
    height: 100px;
    
}

.e .a {
    grid-area: a;
}

.e .b {
    grid-area: b;
}

.e .c {
    grid-area: c;
}

.e .d {
    grid-area: d;
}

.e .e {
    grid-area: e;
}

.e .f {
    grid-area: f;
}

.e .g {
    grid-area: g;
}

.f {
    grid-area: tch;
    margin-bottom: 20vh;
}

.button {
    width: 600px;
}

/* Set height for text fields */
textarea:focus, input:focus{
    outline: none;
}

textarea {
    /*display: none;*/
    height: 100%;
    width: 93.5%;
    padding: 0.5 em;
    /*outline: none;*/
    /*border: none;*/
    resize: none;
}

input {
    /*position:fixed;*/

    /*border:none;*/
    /*outline:none;*/
    height:34px;
    line-height:normal;  
    font-size:25px;
    width:260px;
    font-weight:700;
    color:#000000;
    background:transparent;
    text-align:left;
}


input, textarea {
    line-height:normal;  
    font-size: 1em;
    font-weight: 400;
    background: transparent;
    text-align: left;
}

.email {
    display: none;
    height: 30px;
    width: 100% 
    /*width: 70%;*/
    /*border: none;*/
}

 .enter {
    display: none;
}

.camera {
  display: block;
  height: 200vh;
}

.scene {
  z-index: 0;
  margin: auto;
  position: sticky;
  position: -webkit-sticky;
  top:0;
  height: 100vh; 
  height: 100vh;
}

    .scene img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

.text-mask {

  -webkit-background-clip: text;
}

.pitch {
  position: relative;
  z-index: 1;

  height: 50%;

  display: grid;
}

.pitch p {
  z-index: 1;
  margin: auto;
  color: transparent !important;
  font-weight: 900;
  font-size: 6em;
  /*display: inline;*/

}

.texture {

  background-image: url('res/img/mask.jpg');
  background-repeat: no-repeat;
}
